# Homework 1

In [9]:
import numpy as np
import pandas as pd

## Download data

In [8]:
!curl https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv >> data/data.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1440k  100 1440k    0     0  2169k      0 --:--:-- --:--:-- --:--:-- 2183k

## Answers:
### Question 1

Numpy version.

In [4]:
np.__version__

'1.22.3'

### Question 2

Number of rows.

In [11]:
df = pd.read_csv('data/data.csv')

In [13]:
print(f'Number of rows is: {len(df.index)}')

Number of rows is: 11914

### Question 3

Top three manufacturers.

In [19]:
df.Make.value_counts()[:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

### Question 4

Number of unique audi car models.

In [23]:
df[df.Make == 'Audi'].Model.nunique()

34

### Question 5

Number of columns with missing values.

In [31]:
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [32]:
sum(df.isnull().sum() != 0)

5

### Question 6

- Find the median value of "Engine Cylinders" column in the dataset.
- Next, calculate the most frequent value of the same "Engine Cylinders".
- Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
- Now, calculate the median value of "Engine Cylinders" once again.

In [36]:
df['Engine Cylinders'].median()

6.0

In [43]:
df['Engine Cylinders'].value_counts()

4.0     4752
6.0     4489
8.0     2031
12.0     230
5.0      225
10.0      68
0.0       56
3.0       30
16.0       3
Name: Engine Cylinders, dtype: int64

Most frequent is 4 cylinders.

In [44]:
df['Engine Cylinders'] = df['Engine Cylinders'].fillna(4.0)

In [45]:
df['Engine Cylinders'].median()

6.0

So the median value didn't change!

### Question 7

1. Select all the "Lotus" cars from the dataset.
2. Select only columns "Engine HP", "Engine Cylinders".
3. Now drop all duplicated rows using `drop_duplicates` method (you should get a dataframe with 9 rows).
4. Get the underlying NumPy array. Let's call it `X`.
5. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
6. Invert `XTX`.
7. Create an array `y` with values `[1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]`.
8. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
9. What's the value of the first element of `w`?

In [82]:
X = df[df.Make == 'Lotus'][['Engine HP', 'Engine Cylinders']].drop_duplicates().to_numpy()

In [83]:
XTX = X.T @ X
inverse = np.linalg.inv(XTX)
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]
w = (inverse @ X.T).dot(y)

In [87]:
w[0]

4.5949448100945744